body {
    color: black;
    background-color: #189BCC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {color: maroon}
h2 {color: black;}
h3 {color: maroon}
h4 {color: black;}